/* colors */
/* fonts */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
/* media queries */
body {
  height: 100%;
  background-image: url("../images/Welcome.jpg");
  background-size: cover;
}
.validation-summary-errors ul {
  padding-left: unset;
}
.validation-summary-errors ul li {
  color: red;
  list-style: none;
  font-weight: 800;
}
.authentification-form {
  background-color: #7E20C8;
  border-radius: 10px;
  margin: auto;
  width: 50%;
  padding: 30px;
}
.authentification-form .invitation-text {
  margin: 20px 15px 40px;
}
.authentification-form input {
  border: 1px solid white;
  width: 70%;
  padding: 12px 15px;
  border-radius: 12px;
  margin-top: 8px;
  font-size: 14px;
}
.authentification-form input:focus {
  outline: unset;
}
.authentification-form button {
  width: 30%;
  background: white;
  border: 0;
  border-radius: 40px;
  padding: 11px;
  font-weight: bold;
}
.authentification-form button:focus {
  outline: unset;
}
.authentification-form .small-text {
  font-size: 0.8em;
}
.authentification-form .company-photo {
  margin-bottom: 50px;
}
.authentification-form .company-photo img {
  width: 125px;
  height: 125px;
  box-shadow: 2px 6px 36px grey;
}
.authentification-form .company-photo .image-upload {
  margin-left: -25px;
  display: inline;
}
.authentification-form .company-photo .image-upload label {
  margin: 0;
}
.authentification-form .company-photo .image-upload label i {
  -moz-border-radius: 50%;
  border-radius: 26px;
  padding: 10px;
  background: white;
  color: #7E20C8;
  box-shadow: 6px 5px 36px grey;
}
.authentification-form .company-photo .upload-photo-text {
  color: white;
  margin-top: 10px;
}
.authentification-form .company-photo .image-upload > input {
  display: none;
}
.authentification-form .company-name-input {
  margin-bottom: 50px;
}
.switch-light input:focus {
  outline: 0!important;
}
.switch-light a {
  background-color: #7E20C8;
  border-radius: 30px;
  border-color: white;
  border: 0px;
  outline: unset!important;
}
.switch-light a:hover {
  background-color: #7E20C8;
}
.switch-light a:active {
  background-color: #7E20C8;
}
.switch-light > span {
  background-color: white;
}
.switch-light .alert-light {
  padding: 3px;
  border-radius: 30px;
  width: 40%;
  margin: auto;
}
.slider {
  margin: auto;
  background-color: #7E20C8;
  border-radius: 10px;
  padding: 50px;
  background-image: url("../images/slider/1.png");
  background-size: cover;
  height: 70%;
  width: 50%;
}
.slider .row {
  height: 100%;
}
.slider .invitation-text .title {
  font-size: 26px;
  color: white;
  font-weight: 900;
}
.slider .invitation-text .content {
  font-size: 14px;
}
.slider .buttons {
  width: 100%;
}
.slider .buttons .slider-dots {
  margin-bottom: 10px;
}
.slider .buttons .slider-dots .slider-number-of-page {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: inline-block;
  background: #9E9E9E;
}
.slider .buttons .slider-dots .slider-number-of-page.active {
  background: white;
}
.slider .buttons .change-slide {
  width: 35%;
  background: white;
  border: 0;
  border-radius: 40px;
  padding: 6px;
  font-weight: bold;
  color: #7E20C8;
}
.slider .buttons .change-slide:focus {
  outline: unset;
}
.slider .buttons .small-text {
  margin-top: 10px;
  display: block;
}
/* media queries */
@media (max-width: 480.9px) {
  .change-slide {
    width: 50%!important;
  }
  .vertical-center .container {
    max-width: 98%;
    width: 90%;
  }
  .authentification-form {
    width: 85%;
  }
  .authentification-form input {
    width: 80%;
  }
  .authentification-form button {
    width: 40%;
  }
  .authentification-form .switch-light .alert-light {
    width: 70%;
  }
}
@media (min-width: 481px) and (max-width: 767.9px) {
  .vertical-center .container {
    max-width: 98%;
    width: 90%;
  }
  .authentification-form {
    width: 75%;
  }
  .authentification-form input {
    width: 80%;
  }
  .authentification-form button {
    width: 40%;
  }
  .authentification-form .switch-light .alert-light {
    width: 50%;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .authentification-form {
    width: 65%;
  }
  .authentification-form input {
    width: 70%;
  }
  .authentification-form button {
    padding: 5px 10px;
  }
}
