/* colors */
/* fonts */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
/* media queries */
.job-header {
  padding: 40px 0px;
}
.job-header .job-header-name {
  font-weight: 900;
  font-size: 36px;
  margin-bottom: 0px;
}
.job-header .edit-job-button {
  width: 100%;
  cursor: pointer;
  border-radius: 25px;
  padding: 10px;
  color: #080808;
  border: 2px solid #9E9E9E;
  background: #EFEFF4;
}
.job-header .edit-job-button:focus {
  outline: unset;
}
.information {
  background: white;
  padding-top: 25px;
  padding-bottom: 25px;
}
.information .name-label,
.information .description-label {
  margin: 0px;
  color: #9E9E9E;
  text-transform: uppercase;
}
.information .name,
.information .description {
  font-weight: 600;
  color: #080808;
}
.job-detailed-information {
  margin-top: 55px;
}
.job-detailed-information .job-item {
  margin: 0 -15px 20px -15px;
}
.job-detailed-information .job-item .title {
  color: #9E9E9E;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.job-detailed-information .job-item .content {
  background: white;
  padding: 12px 25px;
  margin-bottom: 5px;
  border: 2px solid silver;
  border-radius: 15px;
  font-weight: 600;
}
.applicants {
  margin-bottom: 40px;
}
.applicants .title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
.applicants .person-item {
  padding: 0px 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  background: white;
}
.applicants .person-item img {
  margin: 5px;
  width: 60px;
  height: 60px;
}
.applicants .person-item .connect-button-person-modal,
.applicants .person-item .connected-button-person-modal {
  width: 100%;
  border: 0;
  border-radius: 20px;
  padding: 4px 5px;
}
.applicants .person-item .connect-button-person-modal {
  color: white;
  background-image: linear-gradient(to right, #AC34AB 0%, #8A13D2 51%, #AC34AB 100%);
  background-size: 180% auto;
  transition: .8s;
  background-color: transparent;
}
.applicants .person-item .connect-button-person-modal:hover {
  background-position: right center;
}
.applicants .person-item .connected-button-person-modal {
  color: #080808;
  border: 2px solid #9E9E9E;
  background: white;
}
.applicants .person-item .user-name {
  margin: 0;
  font-weight: 600;
}
.applicants .person-item .user-profession {
  font-size: 14px;
  color: #9E9E9E;
}
.applicants .search-nav {
  border-radius: 8px;
  margin-bottom: 25px;
}
.applicants .search-nav .filter {
  padding-left: 0px;
  padding-right: 0px;
}
.applicants .search-nav .filter input {
  position: relative;
  width: 100%;
  border-radius: 25px;
  border: 0;
  padding: 13px 15px 13px 40px;
  background-color: white;
}
.applicants .search-nav .filter input:focus {
  outline: unset;
}
.applicants .search-nav .filter img {
  position: absolute;
  opacity: 0.4;
  height: 16px;
  top: 15px;
}
.applicants .search-nav .filter .search-image {
  left: 15px;
  top: 17px;
}
.applicants .search-nav .filter .filter-image {
  right: 35px;
  top: 17px;
  cursor: pointer;
}
