/* colors */
/* fonts */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
/* media queries */
.recommendations {
  margin-bottom: 40px;
}
.recommendations .title {
  text-align: center;
  font-weight: 900;
  font-size: 36px;
  color: #080808;
  margin: 25px 0px;
}
.recommendations .testimonial-item {
  padding: 15px 15px 15px 0px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: white;
}
.recommendations .testimonial-item img {
  margin: 5px;
  width: 45px;
}
.recommendations .testimonial-item .delete-button {
  width: 100%;
  border: 0;
  border-radius: 20px;
  padding: 4px 5px;
  color: white;
  background-image: linear-gradient(to right, #AC34AB 0%, #8A13D2 51%, #AC34AB 100%);
  background-size: 180% auto;
  transition: .8s;
  background-color: transparent;
}
.recommendations .testimonial-item .delete-button:hover {
  background-position: right center;
}
.recommendations .testimonial-item .user-name {
  margin-left: 10px;
  font-weight: 800;
  color: #080808;
}
.recommendations .testimonial-item .user-profession,
.recommendations .testimonial-item .content,
.recommendations .testimonial-item .position-content-divider,
.recommendations .testimonial-item .description-date {
  font-size: 14px;
  color: #9E9E9E;
}
.recommendations .testimonial-item .position-content-divider {
  margin: 0px 5px;
}
.recommendations .testimonial-item .description-date {
  margin-right: 20px;
}
