<div class="container-fluid footer-fluid">
    <div class="container footer">
        <div class="row align-items-center">

            <div class="offset-md-1 col-auto logo">
                <img src="~/images/tabbar/logo.svg" alt="logo" />
            </div>

            <div class="col text-center">
                <h6 class="rights">Impresso 2018 All Rigths Reserved</h6>
            </div>

            <div class="col-auto text-right contact-us">
                <a>Contact Us</a>
            </div>

        </div>
    </div>
</div>