@{
    ViewData["Title"] = "Confirm email";
    Layout = "_AccountLayout";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Thank you for confirming your email. Go back to the Impresso app to log in
    </p>
</div>

