<div class="modal fade" id="CreateProjectModal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <img src="~/images/Black/arrow left.svg" alt="back" title="back" data-dismiss="modal" data-toggle="modal" data-target="#CreateModal" />
            </div>

            <div class="modal-body text-center">

                <h4 class="create-text">Create Project</h4>

                <input type="text" placeholder="Project title" class="project-title" required />

                <textarea class="project-description" placeholder="Project description"></textarea>

                <input class="create-button" id="CreateProjectButton" type="button" value="Create" />

                <button class="cancel-button" data-dismiss="modal">Cancel</button>

            </div>

        </div>

    </div>
</div>